{% extends "base.html" %}
{% block content %}
{% include "header.html" %}

  <div class="page-header">
    <h1>Welcome to the Viz Gallery</h1>
  </div>

<div class="row">
  <div class="col-md-6">
    <a href="{{url_for('newCategory')}}">
      <button class="btn btn-default">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>New Category
      </button>
    </a>
  </div>
  <div class="col-md-6"></div>
</div>
<br>

<div class="list-group">
{% for category in categories%}
  <a  class="list-group-item" href="{{url_for('showCategory', category_id=category.id)}}">{{category.name}}</a>

 {%endfor%}
 </div>

{% endblock %}
