{% extends "base.html" %}
{% block content %}
{% include "header.html" %}

  <div class="page-header">
    <h1>Welcome to the Viz Gallery</h1>
  </div>

<div class="row">
  <button class="btn btn-default">
  		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  <a href="{{url_for('newCategory')}}">New Category</a>
</div>
<br>

<div class="list-group">
{% for category in categories%}
  <a  class="list-group-item" href="{{url_for('showCategory', category_id=category.id)}}">{{category.name}}</a>

 {%endfor%}
 </div>

{% endblock %}
