<nav class="navbar navbar-default">
	<div class="col-md-6">
		<a class="navbar-brand" href="{{url_for('showHome')}}">
			<!--<span class="glyphicon glyphicon-home" aria-hidden="true"></span>-->
			The Viz Gallery
		</a>
	</div>
	<div class="col-md-6 text-right">
		<button class="btn btn-default navbar-btn">
			{%if 'username' not in session %}
			<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
				<a href="{{url_for('showLogin')}}">Login</a>
			{%else%}
			<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
				<a href="{{url_for('disconnect')}}">Logout</a>
			{%endif%}
		</button>
	</div>
</nav>
